/* Access.css */

/* Close Button */
.close-btn-access { 
  position: absolute ;
  top: 5px ;
  right: 15px ;
  background: transparent ;
  border: none;
  font-size: 3rem;
  cursor: pointer ;
  color: white ;
  z-index: 1100 ;
}

/* General Popup Background Overlay */
.popup-overlay-access {
  position: fixed ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.popup-content-access {
  background-color: #F788B8;
  padding: 20px ;
  border-radius: 26px ;
  max-width: 400px ;
  width: 100% ;
  z-index: 1000 ;
  height: 24rem ;
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  position: relative;
}

/* Shake Animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.acess-main-div.shake {
  animation: shake 0.6s ease-in-out;
}

h2 {
  text-align: center !important;
  margin-top: 0 !important;
  font-size: 3.7rem !important;
}

/* Input Fields */
.input-access {
  width: 100% ;
  padding: 0.8rem !important;
  margin: 0.8rem 0 !important;
  border: 1px solid #ccc !important;
  border-radius: 26px !important;
  font-size: 1rem !important;
  box-sizing: border-box !important;
}

.entrar-button {
  background-color: black;
  font-weight: 600;
  color: white;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 26px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entrar-button:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}

/* Error Message */
.error-message {
  color: white;
  text-align: center;
}

p {
  margin-top: 0.5rem;
}

/* Register Text Styling */
.register-text b {
  cursor: pointer;
  text-decoration: none;
}

.register-text b:hover {
  text-decoration: underline;
}

/* Register Popup Text */
.register-text {
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.invalid-input {
  border: 2px solid black;
}