/* Overlay for the popup
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it is above the content */
}

/* Popup content box */
.popup-content {
  background-color: #F788B8;
  padding: 20px;
  border-radius: 26px;
  max-width: 400px;
  width: 100%;
  z-index: 1001;
  height: 26rem;
}


.close-btn {
  position: absolute;
  
  background: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  color: white;

} 

/* Apply blur effect when modal is open */
.blurred {
  filter: blur(5px);
  pointer-events: none; /* Disable interaction with the background */
}

.content {
  transition: filter 0.3s ease; /* Smooth transition for blur effect */
} */
