.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure it is above other content */
}

.popup-content-edit {
    background-color: #F788B8;
    padding: 20px;
    border-radius: 26px;
    max-width: 400px;
    width: 100%;
    z-index: 1000;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.popup-content-edit form {
    display: flex;
    flex-direction: column;
}

.form-edit {
    position: relative;
    display: flex;
} 
.title-edit {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 20px;
}

.label-edit {
    font-size: 1.1rem;
    margin-bottom: 5px !important;
    margin-top: 0px !important;
}

.input-edit {
    margin-bottom: 15px;
    margin-top: 0;
}

.textarea-edit {
    height: 100px;
    margin-bottom: 15px;
    margin-top: 0;
}
.save-btn-edit {
    background-color: black;
        font-weight: 600;
        color: white;
        padding: 0.8rem;
        width: 100%;
        border: none;
        border-radius: 26px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

.save-btn-edit:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}


.close-btn-edit {
    position: absolute;
    top: 5px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    z-index: 1100;
    font-size: 2rem;
    font-weight: bold;
}

.submit-edit {
    border-radius: 15px;
}