/* General Reset */
* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
    color: white;
}

/* Container */
.single-event-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Event Title */
.event-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: white;
}

/* Event Poster */
.event-poster {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.poster-image {
    width: 48%;
    /* Reduced width of the poster image */
    height: auto;
    border-radius: 26px;
}

/* DJ Buttons Section */
.djs-buttons-container {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
    width: 40%;
    flex-wrap: wrap;
    margin-left: 22rem;
    margin-right: auto;
}

.dj-button {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Outfit, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s;
}

.dj-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.event-description-and-date-container {
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 21.7rem;
    margin-right: auto;
}

.date-image {
    width: 90%;
    /* Increased size for the date image */
    height: auto;
}

/* Event Description */
.event-description {
    max-width: 42%;
    font-size: 1rem;
    color: white;
    line-height: 1.6;
    margin-top: 20px;
    align-self: start;
}

.sign-up-button-container {
    display: flex;
    justify-content: center;
}

/* Sign Up Button */
.sign-up-button {
    background-color: #F788B8;
    width: 150px;
    height: 2.7rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 30px;
}

.sign-up-button:hover {
    background-color: #ff99cc;
    transform: scale(1.1);
}

/* Social Media Icons */
.social-media-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-icons a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}

.social-media-icons a:hover {
    color: #F788B8;
}

/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Artist Popup Content */
.artist-popup-content {
    background-color: transparent;
    padding: 0;
    max-width: 450px;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1100;
}

.artist-popup-background {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/assets/DJs/Tanasoul2.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: white;
    position: relative;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 26px;
}

.artist-info {
    padding: 20px;
    display: block;

}

.artist-info h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 100px;
}

.artist-info p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.genre-buttons {
    display: flex;
    gap: 1rem;
}

.genre-button {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 0.8rem;
    font-size: 1rem;
    border: solid 3px white;
    border-radius: 26px;
    cursor: pointer;
}

.genre-button:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    z-index: 1100;
}