/* General Reset */
* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
    color: white;
}

/* Container */
.single-event-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Event Title */
.event-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: white;
}

/* Event Poster */
.event-poster {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.poster-image {
    width: 80%;
    height: auto;
    border-radius: 26px;
}

/* Artists Section */
.BotonesArtistas {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.BotonesArtistas button {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Outfit, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 64px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.BotonesArtistas button:hover {
    opacity: 0.8;
}

.Lwci {
    left: 9px;
    top: 10px;
}

.Masanet {
    left: 316px;
    top: 10px;
}

.Monzoon {
    left: 482px;
    top: 10px;
}

.Dgas {
    left: 16px;
    top: 70px;
}

.Techno {
    left: 148px;
    top: 70px;
}

.Hardgroove {
    left: 283px;
    top: 70px;
}

.HardTechno {
    left: 423px;
    top: 70px;
}

.Tanasoul {
    left: 149px;
    top: 10px;
}

/* Sign Up Button */
.sign-up-button {
    background-color: #F788B8;
    width: 150px;
    height: 2.7rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.sign-up-button:hover {
    background-color: #ff99cc;
    transform: scale(1.1);
}

/* Social Media Icons */
.social-media-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-icons a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}

.social-media-icons a:hover {
    color: #F788B8;
}
