/* General Reset */
* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: black;
    color: white;
}

/* Container */
.single-event-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Event Title */
.event-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: white;
}

/* Event Poster */
.event-poster {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.poster-image {
    width: 48%;
    /* Reduced width of the poster image */
    height: auto;
    border-radius: 26px;
}

/* DJ Buttons Section */
.djs-buttons-container {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
    width: 40%;
    flex-wrap: wrap;
    margin-left: 22rem;
    margin-right: auto;
}

.dj-button {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: Outfit, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s;
}

.dj-button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
.event-description-and-date-container {
    display: flex;
    align-items: center;
    width: 70%;
   margin-left: 21.7rem;
   margin-right: auto;
}

.date-image {
    width: 90%;
    /* Increased size for the date image */
    height: auto;
}

/* Event Description */
.event-description {
    max-width: 42%;
    font-size: 1rem;
    color: white;
    line-height: 1.6;
    margin-top: 20px;
    align-self: start;
}
.sign-up-button-container {
    display: flex;
    justify-content: center;
}
/* Sign Up Button */
.sign-up-button {
    background-color: #F788B8;
    width: 150px;
    height: 2.7rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 30px;
}

.sign-up-button:hover {
    background-color: #ff99cc;
    transform: scale(1.1);
}

/* Social Media Icons */
.social-media-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-icons a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}

.social-media-icons a:hover {
    color: #F788B8;
}