/* Components/Header.css */

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.logo-button:hover {
   transform: scale(1.1);

}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}



.acceso-artista {
    font-weight: 600;
}

.btn:hover {
    background-color: #ff99cc;
    transform: scale(1.1);
}

.acceso-artista {
    position: absolute;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 14rem;
    height: 2.5rem;
}

.groupArtista{
    width:100%;
    position: relative;
    height: 3.20rem;
    text-align: center;
    font-size: 1.25rem;
    color: white;

}